{% extends 'base/base.html' %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <p><strong>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</strong></p>
        {% endfor %}
    {% endif %}
    <h1>Dettaglio di {{   libro.titolo }}</h1>
    <ul>
        <li>Autore: {{ libro.autore }}</li>
        <li>Titolo: {{ libro.titolo }}</li>
        <li>Numero di pagine: {{ libro.pagine }}</li>
    </ul>
    {% if libro.data_prestito != None %}
        <p>Libro in prestito da {{ libro.data_prestito }}</p>
    {% endif %}
    <a href="{% url 'edita' libro.pk %}">Modifica libro</a>
    </a> <a class="btn btn-sm btn-info" href=""></a>
    
{% endblock %}