{% extends 'base/base.html' %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <p><strong>{{ message }}</strong></p>
        {% endfor %}
    {% endif %}
    <h1>Dettaglio di {{ libro.titolo }}</h1>
    <ul>
        <li>Autore: {{ libro.autore }}</li>
        <li>Titolo: {{ libro.titolo }}</li>
        <li>Numero di pagine: {{ libro.pagine }}</li>
    </ul>
    <a class="btn btn-sm btn-info" href="{% url 'edita' libro.pk %}">Modifica libro</a>
    
{% endblock %}